.content {
  display: flex;
  flex-direction: column;
}

.component-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: #191921;
  margin-bottom: 50px;
  height: 60px;
}

#new-user-btn {
  height: 50px;
  background-color: #8486bf;
  border-radius: 5px;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
  width: 150px;
  font-weight: bold;
  font-size: 14px;
}

#new-user-btn:hover {
  background-color: #616289;
  color: white;
}

.logo {
  margin-right: 30px;
}